name: liblsl_metapackage
publish_to: none
homepage: https://zeyus.com/
repository: https://github.com/NexusDynamic/liblsl.dart
environment:
  sdk: ^3.9.0
  flutter: ^3.27.1
workspace:
  - packages/liblsl
  - packages/liblsl_test
  - packages/liblsl_coordinator
  - packages/liblsl_timing
  - packages/liblsl_analysis
dev_dependencies:
  melos: ^7.0.0


melos:
  packages:
    - packages/**
  command:
    version:
      # Only allow versioning to happen on main branch.
      branch: main
      # # Generates a link to a prefilled GitHub release creation page.
      # releaseUrl: true
      # includeCommitId: true
      # linkToCommits: true
    bootstrap:
      environment:
        sdk: ^3.9.0
        flutter: ^3.27.1
        test: any
  scripts:
    lint:all:
      steps:
        - analyze
        - format
      description: Run all static analysis checks.
    analyze:
      exec: dart analyze .
      description: Run `dart analyze` for all packages.
    format:
      exec: dart format .
      description: Run `dart format` for all packages.
    format-check:
      exec: dart format . --set-exit-if-changed
      description: Run `dart format` checks for all packages.
    test:select:
      exec: flutter test --exclude-tags "performance"
      packageFilters:
        dirExists: test
        ignore:
          # for now, this doesn't pass in the Dart VM
          # the app works when built in release mode
          - liblsl_test
      description: Run `flutter test` for selected packages.
    test:performance:
      exec: flutter test --tags "performance"
      concurrency: 1
      packageFilters:
        dirExists: test
        ignore:
          - liblsl_test
      description: Run performance tests for selected packages (without concurrency).
    test:
      run: melos run test:select --no-select
      description: Run all Flutter tests in this project.
    upgrade: melos exec flutter pub upgrade
    coverage:
      steps:
        - melos exec -- flutter test --coverage
        - melos exec -- genhtml coverage/lcov.info --output-directory=coverage/
      packageFilters:
        dirExists: test
      description: Generate coverage for the selected package.
